extends layout

block content
  main(class="")
        div(class="row row-cols-1 row-cols-md-3 mb-3" id="team")
            div(class="about text-justify")
                div(class="col")
                    h3(class="") Team Behind
                    p(class="text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi porro quisquam debitis harum velit possimus ut adipisci explicabo, repellat commodi vitae vero at illo dicta quibusdam eius sapiente doloremque ratione?
                    div(class="card-body")
                        h5(class="card-title") Paulo Astorga 
                        p(class="card-text") Mapuche businessman dolor sit amet, consectetur adipisicing elit.
                        img(src="images/profile.png", alt="logo", class="rounded mx-auto d-block", width="70px")

                    div(class="card-body")
                        h5(class="card-title") Rodrigo Corvalan 
                        p(class="card-text") Lorem dolor sit amet, consectetur adipisicing elit.
                         img(src="images/profile.png", alt="logo", class="rounded mx-auto d-block", width="70px")

        div(class="row row-cols-1 row-cols-md-3 mb-3" id="mission")
            div(class="about text-justify")
                div(class="col")
                    h3(class="") Our Mission
                    p(class="text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi porro quisquam debitis harum velit possimus ut adipisci explicabo, repellat commodi vitae vero at illo dicta quibusdam eius sapiente doloremque ratione?
                    p(class="text-justify") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi porro quisquam debitis harum velit possimus ut adipisci explicabo, repellat commodi vitae vero at illo dicta quibusdam eius sapiente doloremque ratione?        